nav.main-menu
	ul.clearfix
		li.first
			a(href='http://ucompservice.ru/', title='Ремонт компьютеров')
				span.first
		li
			a(href='service-organizations/', title='Обслуживание организаций')
				span Обслуживание организаций
		li
			a(href='services/', title='Услуги')
				span Услуги
		li
			a(href='articles/', title='Полезное')
				span Полезное
		li
			a(href='about/', title='О компании')
				span О компании
		li
			a(href='contacts/', title='Контакты')
				span Контакты
		li.last.active
			a(href='news/', title='Новости')
				span.last.active Новости
