header#header
	.profile-link
		a.cabinet.login.link(href='#') Вход в личный кабинет
		div(style='display:none')
			#login-popup.box-modal
				.box-modal_close.arcticmodal-close
				.content-popup
					h1 Вход на сайт
					span.hint.hint-t *- Поля, отмеченные звездочкой, обязательны для заполнения.
					.inp-b(style='padding: 0 60px 0 60px')
					form.form(action='news/', method='POST')
						.inp-b
							label(for='') Логин*:
							input(type='text', name='username', value='', placeholder='')
						.inp-b
							label(for='') Пароль*:
							input(type='password', name='password', value='', placeholder='')
						input.returnUrl(type='hidden', name='returnUrl', value='')
						input.loginLoginValue(type='hidden', name='service', value='login')
						.inp-b
							a.forget-pass(href='passwordrecovery/') Забыли свой пароль?
							.btn.btn-yellow
								input(type='submit', name='Login', value='Войти')
		a.reg.link(href='#') Регистрация
	.logo
		a(href='')
			img(src='/assets/images/logo.png', alt='')
	.logotext
		span Ucompservice
		p Быстрая компьютерная помощь
	.search
		form(action='')
			input#search(type='text', name='search', value='', placeholder='Поиск по сайту')
			input(type='image', src='/assets/images/lupa.png')
			#search-result
				.search-inner
	.phone
		span (925) 411-20-08
		a.orderCall.link(href='#') Заказать обратный звонок
	a.btn.btn-blue.order.link(href='#') Сделать заказ
