// Breakpoints

$breakpoint-xs = 0
$breakpoint-sm = 400px
$breakpoint-md = 600px
$breakpoint-lg = 800px
$breakpoint-xl = 1050px
$breakpoint-xd = 1800px

rupture.scale = $breakpoint-xs $breakpoint-sm $breakpoint-md $breakpoint-lg $breakpoint-xl
