<footer id="footer"><span class="visa"><img src="/assets/images/visa.png" alt=""/></span><span class="visa"><img src="/assets/images/visa.png" alt=""/></span>
  //= footer_nav.html
  <div class="adress">
    <div class="column">
      <p>101000 г. Москва, Успенский пер, д. 14.<br/>Время работы: 00.00-24.00.</p>
    </div>
    <div class="column">
      <p>Многоканальный телефон:<br/> +7 (495) 255-34-43</p>
    </div>
    <div class="column">
      <p>E-mail:<a href="mailto:info@ucompservice.ru">info@ucompservice.ru</a></p>
      <p>E-mail:<a href="mailto:support@ucompservice.ru">support@ucompservice.ru</a></p>
    </div>
    <div class="column">
      <form action="">
        <input type="text" value="" placeholder="Найти услугу"/>
        <input type="image" src="/assets/images/lupa.png"/>
      </form>
    </div>
  </div>
  <div class="copyright">© 2014 «Ucompservice»<br/>Все права защищены.</div>
  <div class="rule">Копирование всех составляющих частей сайта в какой бы то ни было форме без разрешения владельцев авторских прав запрещено.</div>
  //= footer_social.html
  //= footer_counter.html
  <div class="sochelp">
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
    <div data-yasharel10n="ru" data-yasharequickservices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yasharetheme="counter" class="yashare-auto-init"></div>
  </div>
  <div class="rite"><a target="_blank" href="http://namstudio.ru/" class="rite1"></a></div>
  <div class="about_brand"><a target="_blank" href="#" class="item1"></a><a target="_blank" href="#" class="item2"></a><a target="_blank" href="#" class="item4"></a></div>
</footer>
