<nav>
  <ul class="clearfix">
    <li class="first"><a href="newsucomp/comments/" title="Отзывы и комментарии">Отзывы и комментарии</a></li>
    <li><a href="newsucomp/complaints-and-suggestions/" title="Жалобы и предложения">Жалобы и предложения</a></li>
    <li><a href="newsucomp/partners/" title="Партнёрам">Партнёрам</a></li>
    <li><a href="newsucomp/vacancies/" title="Вакансии">Вакансии</a></li>
    <li><a href="newsucomp/service-organizations/" title="Компьютерная помощь на дому">Компьютерная помощь на дому</a></li>
    <li class="last"><a href="newsucomp/computer-repair-around-the-clock/" title="Ремонт компьютеров круглосуточно">Ремонт компьютеров круглосуточно</a></li>
  </ul>
</nav>
