<div class="yandex">
  <!-- Rating@Mail.ru counter-->
  <script type="text/javascript">
    var _tmr = _tmr || [];
    _tmr.push({id: "2599007", type: "pageView", start: (new Date()).getTime()});
    (function (d, w) {
    var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
    ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
    var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
    if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    })(document, window);
  </script>
  <noscript>
    <div style="position:absolute;left:-10000px;"><img src="//top-fwz1.mail.ru/counter?id=2599007;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru"/></div>
  </noscript>
  <!-- //Rating@Mail.ru counter-->
  <!-- Rating@Mail.ru logo--><a href="http://top.mail.ru/jump?from=2599007"><img src="//top-fwz1.mail.ru/counter?id=2599007;t=479;l=1" style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru"/></a>
  <!-- //Rating@Mail.ru logo-->
  <!-- Yandex.Metrika informer--><a href="https://metrika.yandex.ru/stat/?id=19514119&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/19514119/3_0_FFFFFFFF_FAF0E6FF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:19514119,lang:'ru'});return false}catch(e){}"/></a>
  <!-- /Yandex.Metrika informer-->
  <!-- Yandex.Metrika counter-->
  <script type="text/javascript">var yaParams = {/*Здесь параметры визита*/};</script>
  <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
  <script type="text/javascript">try { var yaCounter19514119 = new Ya.Metrika({id:19514119, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true,params:window.yaParams||{ }}); } catch(e) { }</script>
  <noscript>
    <div><img src="//mc.yandex.ru/watch/19514119" style="position:absolute; left:-9999px;" alt=""/></div>
  </noscript>
  <!-- /Yandex.Metrika counter--><a target="_blank" href="http://text.ru/antiplagiat/54c5447bc8162"><img src="http://text.ru/image/get/54c5447bc8162/1" alt="TEXT.RU - 100.00%" title="Уникальность данного текста проверена через TEXT.RU" border="0" width="80" height="31"/></a>
</div>
