<!DOCTYPE html>
<html>
<head lang="ru">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
  <title>Компьютерная помощь - Компьютерный мастер на дом.</title>
  <meta name="robots" content="index, follow"/>
  <meta name="Keywords" content="Ремонт компьютеров, ремонт ноутбуков, удаление вирусов, компьютерный мастер на дом"/>
  <meta name="Description" content="Компьютерный мастер на дом – мгновенный выезд и профессиональный ремонт с высоким качеством. Мы гарантируем а вы эксплуатируете!	Услуги: ремонт компьютеров, ремонт ноутбуков, восстановление данных, настройка Wi-Fi, техническая поддержка пользователей."/>
  <link href="/assets/styles/app.min.css" rel="stylesheet"/>
  <link href="/assets/components/mobilyslider/css/default.css" rel="stylesheet"/>
  <link href="/assets/components/arcticmodal/jquery.arcticmodal-0.3.css" rel="stylesheet"/>
  <script>(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=JFFeUV3UD5/TywPcfOgbDqfUU/JdclctGcB7KX3KBhoW86kcK9WZ8hB3EvZ9kXWO2qT5cehoQpQiqOODkzb86IdfjK7iqTHvzYOFkBPAWyMwZHnAmCea4zj5b6MOdCMU8TsIMr0g0lVq880igy7a3NfqMMFAQCeCUOG/hefSLlo-';</script>
