<nav class="main-menu">
  <ul class="clearfix">
    <li class="first"><a href="http://ucompservice.ru/" title="Ремонт компьютеров"><span class="first"></span></a></li>
    <li><a href="service-organizations/" title="Обслуживание организаций"><span>Обслуживание организаций</span></a></li>
    <li><a href="services/" title="Услуги"><span>Услуги</span></a></li>
    <li><a href="articles/" title="Полезное"><span>Полезное</span></a></li>
    <li><a href="about/" title="О компании"><span>О компании</span></a></li>
    <li><a href="contacts/" title="Контакты"><span>Контакты</span></a></li>
    <li class="last active"><a href="news/" title="Новости"><span class="last active">Новости</span></a></li>
  </ul>
</nav>
