.hidden-xs-up {
	display: none !important;
}

@media (max-width: $breakpoint-sm - 1px) {
	.hidden-xs-down {
		display: none !important;
	}
}

@media (min-width: $breakpoint-sm) {
	.hidden-sm-up {
		display: none !important;
	}
}

@media (max-width: $breakpoint-md - 1px) {
	.hidden-sm-down {
		display: none !important;
	}
}

@media (min-width: $breakpoint-md) {
	.hidden-md-up {
		display: none !important;
	}
}

@media (max-width: $breakpoint-lg - 1px) {
	.hidden-md-down {
		display: none !important;
	}
}

@media (min-width: $breakpoint-lg) {
	.hidden-lg-up {
		display: none !important;
	}
}

@media (max-width: $breakpoint-xl - 1px) {
	.hidden-lg-down {
		display: none !important;
	}
}

@media (min-width: $breakpoint-xl) {
	.hidden-xl-up {
		display: none !important;
	}
}

.hidden-xl-down {
	display: none !important;
}
